<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Completed Tasks</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="content">
    <h2>Completed Tasks</h2>
    <%- nav %>
    <% completedTasks.forEach(task => { %>
        <div>
            <p>Task Title: <%= task.title %></p>
            <p>Task Description: <%= task.description %></p>
            <p>Completed By: <%= task.fname %> <%= task.lname %></p>
            <p>Expiration Date: <%= task.due_date %></p>
        </div><br>
    <% }); %>
</div>
</body>
</html>
