<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Create Task HTML</title>
  <link rel="stylesheet" href="styles.css">
  <script src="create-task.js"></script>
</head>
<body>

  <% if(action == 'add') { %>

    <h2>Create Task:</h2><br><br>
    <form method="POST" action="/create-task/add-create-task">
      <label for="title">Task Title:</label><br>
      <input type="text" id="title" name="title"><br>
      <label for="description">Description:</label><br>
      <input type="text" id="description" name="description"><br>
      <label for="due_date">Due Date:</label><br>
      <input type="date" id="due_date" name="due_date"><br>
      <label for="assigned_to">Assign To:</label><br>
      <input type="text" id="assigned_to" name="assigned_to"><br>
      <label for="employee_email">Employee Email:</label><br>
      <input type="email" id="employee_email" name="employee_email"><br>
      <label for="notes">Notes:</label><br>
      <input type="text" id="notes" name="notes"><br>
      <input type="submit" name="submit_button" value="Add">
    </form>

  <% } else { %>

        <table>
            <tr>
                <th>Title</th>
                <th>Description</th>
                <th>Due Date</th>
                <th>Assigned to</th>
                <th>Employee Email</th>
                <th>Notes</th>
            </tr>
            <%
            if(createTask.length > 0)
            {
                createTask.forEach(function(data){
             %>  
             <tr>
                <td><%= data.title %></td>
                <td><%= data.description %></td>
                <td><%= data.due_date %></td>
                <td><%= data.employee_email %></td>
                <td><%= data.notes %></td>
             </tr>
             <%
                });
            }
            else
            {
            %>
            <tr>
                <td colspan="6">No Data Found</td>
            </tr>
            <%
            }
            %>
        </table>
  
  <% } %>
  
</body>
</html>
