<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>Task List</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
<div class="content">
    <h1 class="title">Task List</h1>
    <div class="nav">
        <%- nav %>
    </div>
        <% taskList.forEach(task => { %>
            <div class="task-details">
                <p><b>Task Title:</b> <%= task.title %></p>
                <p><b>Task Description:</b> <%= task.description %></p>
                <p><b>Assigned To:</b> <%= task.fname %>, <%= task.lname %></p>
                <p><b>Due Date:</b> <%= task.due_date %></p>
                <p><b>Notes:</b> <%= task.notes %></p>
                <% if (task.completed === true) { %>
                    <p><b>Status:</b> Completed</p>
                <% } else { %>
                    <p><b>Status:</b> Incomplete</p>
                <% } %>
                <form action="/tasks/<%= task.id %>/notes" method="POST">
                    <!--<label for="taskNotes">Add Notes:</label>-->
                    <input type="text" id="taskNotes" name="notes" placeholder="Add Notes">
                    <button type="submit">Add Notes</button>
                </form>

                <a href="/edit-task/<%= task.id %>">
                    <br><button type="button">Edit Task</button>
                </a>
                <br><p>-----------------------------------------------------------------------------------------------</p>
            </div>
        <% }); %>
</div>
</body>
</html>
